name: Run njs tests
on:
    push:
        branches:
            - 'main'
    pull_request:
        branches:
            - 'main'
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup Node
              uses: actions/setup-node@v2
              with:
                node-version: 20.10.0
            - name: Install Dependencies
              #run: npm ci
              run: npm install npm
            - name: Run tests
              run: npm test